{% extends 'base.html.twig' %}

{% block page_title %}Erreur{% endblock %}

{% block page_content %}
<main>
    <div class="center">
        <h1>Erreur !</h1>
        <p>Une erreur est survenue ! Veuillez réessayer plus tard.</p>
    </div>
</main>
{% endblock %}
