{% extends 'base.html.twig' %}

{% block page_title %}Erreur{% endblock %}

{% block page_content %}
<main>
    <div class="center">
        <h1>Accès refusé</h1>
        <p>Vous ne pouvez pas accéder à cette page !</p>
    </div>
</main>
{% endblock %}
